.red {
    color: lightcoral;
    text-shadow: 1px 1px black;
}

.green {
    color: lightgreen;
    text-shadow: 1px 1px black;
}

.title {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 35px;
}

.brown {
    color: burlywood;
    text-shadow: 1px 1px black;
}

.white {
    color: white;
    text-shadow: 1px 1px black;
}

body {
    background-color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}